<form>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>Choose start point...</option>
            <option value="1">Paraiso</option>
            <option value="2">Cartago</option>
            <option value="4">Curridabat</option>
            <option value="5">Heredia</option>
            <option value="6">Sabanilla</option>
            <option value="7">Zapote</option>
            <option value="8">San Pedro</option>
            <option value="9">San José</option>
            <option value="10">Guadalupe</option>
            <option value="11">Moravia</option>
            <option value="12">Tibás</option>
            <option value="13">Santo Domingo</option>
        </select>
        <select class="custom-select mr-sm-3" id="inlineFormCustomSelect">
            <option selected>Choose end point...</option>
            <option value="1">Paraiso</option>
            <option value="2">Cartago</option>
            <option value="4">Curridabat</option>
            <option value="5">Heredia</option>
            <option value="6">Sabanilla</option>
            <option value="7">Zapote</option>
            <option value="8">San Pedro</option>
            <option value="9">San José</option>
            <option value="10">Guadalupe</option>
            <option value="11">Moravia</option>
            <option value="12">Tibás</option>
            <option value="13">Santo Domingo</option>
        </select>
        <div>
        <label htmlFor="start"></label>
        <input type="date" id="start" name="trip-start" defaultValue="2020-08-14" min="2018-01-01" max="2021-08-14" />
        </div>
        <label htmlFor="price">Price = 20$</label>
        <div> 
        <label htmlFor="descount">Descount = 2%</label>
        </div>
      </div>
      <div class="col-auto my-1">
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
