<div>
    <div className="body" >
    <div className="grad" >
    <div className="header">
    <div>Rail<span>spot admins login</span></div>
    </div>
    <br />
    <div class="col-auto my-1" className="login">
        <input [(ngModel)]='username' type="text" placeholder="username" name="user" /><br />
        <input [(ngModel)]='password' type="password" placeholder="password" name="password" /><br />
    </div>
    <div class="col-auto my-3">
        <button (click)="getAuthetication()" type="submit" class="btn btn-primary">{{btntext}}</button>
    </div>
    <div *ngIf="error">
        <p>Please check your credentials</p>
    </div>
</div>
